@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/PlusJakartaSans.ttf');
}

body{
    font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
    background-color: #191B1F;
    min-height:100vh;
    align-content: center;
}

.desktop-frame{
    gap: 20px;
    padding: 15px;
}

#weather{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#main-weather-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

#main-weather-img{
    width: 85%;
    max-width: 316px;
}

#main-temp{
    font-size: 6rem;
    line-height: 36px;
    margin-top: -30px;
    font-weight: bold;
}

#main-current-day{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid white;
    font-weight: 500;
}

#main-current-day > *{
    padding: 1.25rem 5px;
    font-size: 1.4rem;
    margin-bottom: 0;
}

#sub-weather-section{
    font-weight: 400;
}

#sub-weather-section > p > i{
    width: 24px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#bottom-weather-section{
    padding: 15px;
}

#weather-tab > .nav-item > .nav-link.active{
    background-color: transparent !important;
    color: #FFFF;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 4px;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 2px;
}

#weather-tab > .nav-item > .nav-link{
    color: rgb(255,255,255, 0.5);
    font-weight: 600;
    font-size: 20px;
}

#pills-tabContent{
    overflow: auto;
    padding-bottom: 5px;
    padding-right: 5px;
}

#city-search{
    position: relative;
    width: 100%;
    padding: 0px 16px 0px 16px;
}

#city-search > i{
    position: absolute;
    padding: 16px;
    color: #7E7C7C;
}

#city-search > input{
    background-color: #C2D4D3;
    color: #7E7C7C;
    border: none;
    border-radius: 20px;
    height: 48px;
    padding: 0px 16px 0px 40px;
    width: 100%;
    transition: border-radius 0.3s ease 0.3s;
}

#city-search > input:focus{
    border: none !important;
    outline: none !important;
}

.input-dropdown{
    transition: border-radius ease !important;
    border-radius: 20px 20px 0px 0px !important;
}

#cities-result{
    position: absolute;
    inset: 0px auto auto 0px;
    padding: 0px 16px 0px 16px;
    margin-inline: auto;
    transform: translate(0px, 48px);
    left: 0;
    right: 0;
}

#cities-result li{
    list-style-type: none;
    background-color: #C2D4D3;
    color: #7E7C7C;
    padding: 4px 16px 4px 16px;
}

#cities-result li:hover{
    background-color: #bbcccb;
}

#cities-result li:last-child{
    border-radius: 0px 0px 20px 20px;
    padding-bottom: 8px;
}

#today-title{
    font-size: 20px;
    font-weight: 600;
}

.bottom-weather-info > span > img{
    width: 40px;
}

.bottom-weather-info > span > p{
    margin: 0px;
    font-size: 1rem;
    line-height: 20px;
}

.bottom-weather-info > span >p:first-child{
    font-size: 1.3rem;
}

.frame-style{
    color: white;
    background: linear-gradient(-26deg, rgba(255, 255, 255, 0.1) 10%, rgba(153, 153, 153, 0.1) 80%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 28px;
    padding: 47px 40px;
}

.cards-style{
    background-color: rgb(37, 34, 34, 0.65);
    border: 1px solid rgb(0,0,0, 0.1);
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 25%);
    border-radius: 12px;
    min-width: 65px;
}

.sub-info{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: baseline;
}

.hide-tab{
    display: none !important;
}

.tab-content{
    font-weight: 500;
}

.good-level{ color: #009966; font-weight: 700;}
.moderate-level{ color: #ffde33; font-weight: 700;}
.unhealthy-sensitive-level{ color: #ff9933; font-weight: 700;}
.unhealthy-level{ color: #cc0033; font-weight: 700;}
.very-unhealthy-level{ color: #660099; font-weight: 700;}
.hazardous-level{ color: #7e0023; font-weight: 700;}

/* Animation for entering and leaving */
.dropdown-enter-active, .dropdown-leave-active {
    transition: max-height 0.3s ease;
    overflow: hidden;
}

.dropdown-enter-from, .dropdown-leave-to {
    max-height: 0;
}

.dropdown-enter-to, .dropdown-leave-from {
    max-height: 200px;
}


